{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Add Student {% endblock title %}
<h2 class="text-center">Student Form</h2>
<hr>
{% block content %}
<body style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8Ts1oosWaP4Ul9NTNz1FdW37nBLWCLYQ9Lw&usqp=CAU');
height: 500px; 
background-position: center; 
background-repeat: no-repeat; 
background-size: cover; ">
<div class="container w-50 text-center p-3 bg-dark text-light">
    <form action=""method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" class="mt-4 btn-danger" value="submit">
    </form>
</div>
{% endblock %}