{% extends 'base.html'%}
{% load static %}
{% block content %}

<div class="card" style="width:55rem;margin-left:200px;">
    <img src="https://sites.google.com/site/excelinstitutes613/_/rsrc/1373531621210/home/Picture1.jpg?height=300px&width=750px" class="card-img-top" height="450px" alt="...">
    <div class="card-body">
      <h5 class="card-title">
        The Centre of Excellence</h5>
      <p class="card-text">A premier educational Institute for quality commerce education which serves and meets the needs of the business and commerce industry.

        Excel Educational Institute laid its foundation stone in the year 2007, with the vision to provide qualitative education thereby producing successful candidates in huge numbers and hence serving the nation.
        
        Director of Excel Educational Institute CA. B. L. Agrawal, CA. Praveen Golchha & CA. Sanjay Kumar Goyal Started this institute with the aim to build a complete hub in the educational world of commerce.
        
        The devoted faculties and unbeaten faculties of by Excel have been one of the foremost reason for its stand.
        
        The experienced faculty team full of determination, vigor and teaching skills is Excel’s greatest asset.
        
        The smooth functioning of excel as an organization has its powerful management skill in its background. Since its formation with the climb of Excel is a proof of its management skill.
        
        The beginning of 2007 was just with the Chartered Accountancy Course but gradually within a few years, the institute has explored other fields too. In the year 2009, it started B.COM. In the year 2011, Excel started Company Secretary (CS) Course and In the year 2013, ICWA (CMA) course also started.
        
        The Institute has produced the best students in the past due to its high standards of faculty, resources, and infrastructure. Today it is growing in a big way as a premier Institution that guides students to do best in challenging professional courses. The excellent performance of our students and the dedicated efforts of our faculties make the institute a perfect choice for an individual aspiring to build a career in professional courses.
        
        For extraordinary and valuable contribution in the field of education, we have been awarded as the best institute of central India by the honorable chief minister of Kerala and News 18TV channel in 2018. Our efforts have been appreciated on many occasions through awards and honours by the radio channel MY FM radio.
    
    </p>

      
    </div>
  </div>
{% endblock content %}